body {
  max-width: 600px;
}
.container {
  font-family: "Cutive Mono", monospace;
  color: #3b3b3d;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: #949597 1px solid;
  position: relative;
  overflow: hidden;
  width: 600px;
  height: fit-content;
}
.weatherCurrently {
  font-size: 16px;
  text-transform: capitalize;
  color: #144054;
}

.cityName {
  font-size: 36px;
  color: #144054;
}

.currentTemp {
  font-size: 24px;
  color: #144054;
}

.currentTemp .active {
  color: #3b3b3d;
  cursor: default;
}

h3 {
  text-align: right;
}

.currently {
  font-size: 16px;
  text-align: right;
  color: #144054;
}

.currentCondition {
  font-size: 12px;
  text-align: right;
}
.weatherForecast {
  margin-top: 10px;
}

#minForecast {
  opacity: 0.6;
}

.forecastDay {
  font-size: 14px;
}

.searchCity {
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
}
.searchButton {
  text-align: center;
  border-radius: 5px;
}

footer {
  padding: 15px;
  font-size: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #144054;
  cursor: crosshair;
}
