body {
  max-width: 600px;
}
.container {
  font-family: "Cutive Mono", monospace;
  color: #3b3b3d;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: #949597 1px solid;
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 360px;
}

.cityName {
  font-size: 44px;
}

.currentTemp {
  font-size: 32px;
}

h3 {
  text-align: right;
}

.dateTime {
  font-size: 12px;
  text-align: right;
}

.currentCondition {
  font-size: 10px;
  text-align: right;
}

.searchCity {
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
}
.searchButton {
  text-align: center;
  border-radius: 5px;
}

footer {
  padding: 15px;
  font-size: 10px;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #144054;
}
